body{
	background-color:black;
	background-image:url("background1.jpg");
	background-size:cover;
	background-repeat:no-repeat;

	color:white;
}

#container{
	max-width: 960px;
	margin:auto;

	

	
}

#header{
	max-width:960px;
	background-image:url("header.jpg");
	height:300px;
	
}

#navigation{
	float:left;
	max-width: 100px;
	margin-left: -25px;
	color:white;
	
}

#navigation .menu_start:hover{
	background:blue url("../pics/sprite.png") 0 0;
	background-repeat:no-repeat;
	
}
#navigation .menu_start{
	background:purple url("../pics/sprite.png") 0 -48px;
	background-repeat:no-repeat;
	
}

#navigation .menu_laborationer:hover{
	background:blue url("../pics/sprite.png") 0 -96px;
	background-repeat:no-repeat;
}

#navigation .menu_laborationer{
	background:purple url("../pics/sprite.png") 0 -144px;
	background-repeat:no-repeat;
}

#navigation .menu_presentationer:hover{
	background:blue url("../pics/sprite.png") 0 -192px;
	background-repeat:no-repeat;
}

#navigation .menu_presentationer{
	background:purple url("../pics/sprite.png") 0 -240px;
	background-repeat:no-repeat;
}


#navigation .menu_kontakt:hover{
	background:blue url("../pics/sprite.png") 0 -288px;
	background-repeat:no-repeat;
}

#navigation .menu_kontakt{
	background:purple url("../pics/sprite.png") 0 -336px;
	background-repeat:no-repeat;
}


#navigation ul
{
	list-style-type:none;
}

a:link{
	color: black;
}

a:visited{
	color: red;
}
a:hover{
	color:white;
	background-color:green;
}
	



#navigation a
{
display:block;
width:90px;
background-color:purple;
padding-left:25px;
}

#navigation a:hover{
	background-color:blue;
	
}
	
#navigation  a.activ{
	color: white;
}


#content {
	float:right;
	width: 820px;
	min-height: 500px;
	


}


h1
{
text-shadow: 5px 5px 5px #C0C0C0;
font-family:"Arial Black";

}

#blogg h2
{
	background-image:url("bloggikon.jpg");
	background-repeat: no-repeat;
	background-size:30px 30px;
	padding-left:35px;
}
.right{
	float:right
	
}
.left{
	float:left
}



#footer{
	width:820px;
	float: right;
	text-align:right;

	color: white;
	
}
