body{
	background-color: black;
	color: white;
}

#container{
	max-width: 960px;
	margin:auto;
}

#header{max-width:960px;

	
}

#navigation{
	float:left;
	max-width: 100px;
	margin: 0
}
#content {
float:right;
width: 820px;
min-height: 500px

}


h1
{
text-shadow: 5px 5px 5px #FF0000;
}




#footer{
	width;820px;
	float: right;

	color: white
	
}
